# Secretos y entorno local
.env
.env.*
*copia.env
.env.local
*.pem

# Node
node_modules/
dist/

# Flutter / Dart
.dart_tool/
.pub-cache/
.pub/
build/
**/build/

# IDE y SO
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log
